#Intrexx installation configuration
config.file.version=9000100
installation.dir={{ ix_home }}
source.dir={{ ix_remote_home }}/{{ ix_setup_folder }}
instance.daemon.manager=SYSTEMD
instance.service.start.type=DEMAND_START
package.de.uplanet.lucy.installer.instsystem.InstallationSystemPackage=true
package.de.uplanet.lucy.installer.portalmanager.PortalManagerPackage=true
package.de.uplanet.lucy.installer.jre.JrePackage=true
de.uplanet.lucy.installer.jre.JrePackage.linked=false
package.de.uplanet.lucy.installer.portalserver.distributed.PortalServerDistributedPackage=true
package.de.uplanet.lucy.installer.onlineupdate.OnlineUpdatePackage=true
package.de.uplanet.lucy.installer.portalserver.PortalServerPackage=true
de.uplanet.lucy.installer.portalserver.PortalServerPackage.daemonUser=root
de.uplanet.lucy.installer.portalserver.PortalServerPackage.supervisorPort=7960
#de.uplanet.lucy.installer.portalserver.PortalServerPackage.supervisorDNSNames={{ ix_portal_dns_names }}
de.uplanet.lucy.installer.portalserver.PortalServerPackage.charset=en_US.UTF-8
package.de.uplanet.lucy.installer.databasedrivers.DatabaseDriversPackage=true
package.de.uplanet.lucy.installer.oracle.OraclePackage=true
de.uplanet.lucy.installer.oracle.OraclePackage.driver=12r2