*.retry
.vagrant
*.log
authorized_keys
*.pdf
*.pem
kubernetes/linux/import/
kubernetes/linux/intrexx*/
kubernetes/linux/share/*
*.tar.gz
kubectl
aws-iam-authenticator
work/
work_az/
execConfigurations/
*.zip
*.msi
*.exe
id_rsa*