#Intrexx installation configuration
#Thu Jul 13 12:07:12 CEST 2017
package.de.uplanet.lucy.installer.instsystem.InstallationSystemPackage=true
de.uplanet.lucy.installer.solr.SolrPackage.port=8983
package.de.uplanet.lucy.installer.portalmanager.PortalManagerPackage=true
installation.dir=C\:\\intrexx
package.de.uplanet.lucy.installer.jre.JrePackage=true
instance.daemon.manager=NONE
package.de.uplanet.lucy.installer.iis.IISPackage=false
de.uplanet.lucy.installer.jre.JrePackage.linked=false
#instance.name=ix{{ ix_portal_name }}
source.dir=C\:\\install\\IX_18.09.1
package.de.uplanet.lucy.installer.portalserver.distributed.PortalServerDistributedPackage=true
instance.service.start.type=DEMAND_START
package.de.uplanet.lucy.installer.solr.SolrPackage=true
package.de.uplanet.lucy.installer.portalserver.PortalServerPackage=true
config.file.version=9000100
de.uplanet.lucy.installer.portalserver.PortalServerPackage.supervisorPort=7960
package.de.uplanet.lucy.installer.oracle.OraclePackage=true
de.uplanet.lucy.installer.oracle.OraclePackage.driver=12r2
package.de.uplanet.lucy.installer.databasedrivers.DatabaseDriversPackage=true
